include _bootstrap-mixins.jade

a.text-muted.back-to-top(href='#top')
    i.fa.fa-toggle-up
    | &nbsp;Back to top
div(class=fullWidth ? 'container-fluid' : 'container')
    .row
        block nav
            +Nav(false)

        .col-md-8
          +Content('info', false)

    // block scripts
    //     script
    //         :coffee
    //             $('table').addClass 'table'

    //     if livePreview
    //         script
    //             :coffee
    //                 socket = io()
    //                 socket.on "refresh", (msg) ->
    //                     $(document.body).html(msg)
